<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memberWrite</title>
</head>
<body>
    <h1>
        Member Registration Form
    </h1>

    <form action="/" method="post" id="memberWriteForm">
        <label for="name"></label>
        <input type="text" id="name" name="name">
        <br>
        <label for="id"></label>
        <input type="text" id="id" name="id">
        <br>
        <label for="phone"></label>
        <input type="text" id="phone" name="phone">
        <br>
    </form>

    <button type="submit" form="memberWriteForm">회원등록</button>
</body>
</html>