    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member List</title>
</head>
<body>

    <div>

        <h2> Member List</h2>
        <p> 현재 <span th:text= "${#lists.size(members)}" style="font-weight: bold"></span>명의 회원정보가 등록되었습니다.</p>

        <!-- 검색 폼 시작 -->
        <form th:action="@{/jpa/memberList}">
<!--            <label for="searchKeyword">Search</label>-->
            <select name="searchCate">
                <option value="name">이름</option>
                <option value="id">아이디</option>
                <option value="phone">휴대폰</option>

            </select>
            <input type="text" id="searchKeyword" name="searchKeyword">
            <button type="submit">Search</button>
        </form>
        <table border="1">
            <thead>
                <tr >
                    <th width = "50">#</th>
                    <th width = "Name">Name</th>
                    <th width = "ID">ID</th>
                    <th width = "Phone">Phone</th>
                    <th >수정</th>
                    <th >삭제</th>
                </tr>
            </thead>
            <tbody>
    `            <tr th:each="member : ${members}">
                    <th th:text="${member.num}">#</th>
                    <th><a href="#" th:href="@{/jpa/memberDetail(num = ${member.num})}" th:text="${member.name}">#</a></th>
                    <th th:text="${member.id}">#</th>
                    <th th:text="${member.phone}">#</th>
                    <th><a href="#" th:href="@{/jpa/memberWriteForm( num = ${member.num} ) }">수정</a></th>
                    <th><a href="#" th:href="@{/jpa/memberDelete(num=${member.num})}">삭제</a></th>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        총 레코드 개수 <span th:text="${members.totalElements}"></span>
        현재 페이지 <span th:text="${members.number}+1"></span><!-- members.number는 0부터 시작-->
        총 페이지 <span th:text="${members.totalPages}"> </span>

    </p>

    <ul>
        <th:block th:if="${0 == members.number}">
            Previous
        </th:block>

        <th:block th:unless="${0 == members.number}">
                <a href="#" th:href="@{/jpa/memberList(page=${members.number}-1 , size=#{paging.size})}">Previous</a>
        </th:block>
        <li> / </li>
        <!--page 와 size 값을 넘겨 다음 페이지로 이동할 수 있게끔 / 현재페이지+1과 total 페이지가 같다면 Next는 링크없는 Next가 출력-->
        <li>
            <th:block th:if="${members.totalPages == members.number+1}">
                Next
            </th:block>

            <th:block th:unless="${members.totalPages == members.number+1}">
                <a href="#" th:href="@{/jpa/memberList(page=${members.number}+1 , size=#{paging.size})}">Next</a>
            </th:block>
        </li>

    </ul>

</body>
</html>